@model IEnumerable<LibraryStore.App.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center mb-5">
    <h4 class="mb-2">Novo Produto</h4>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i></a>
</div>

<partial name="_ProductList" ></partial>
